body {
    min-height: 100vh;

    --accent-color: #6A818C;
    --accent-color-hover: #819CA8;
    --accent-color-active: #52636B;

    /* Photo by Simon Rae on Unsplash. https://unsplash.com/photos/E4TNRygxZYY */
    background: bottom / cover linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 30%,rgba(255, 255, 255, 0) 100%), url('../img/simon-rae-E4TNRygxZYY-unsplash.jpg') no-repeat;
    background-size: cover;
}

footer {
    /* Force the footer to the bottom of the viewport for now */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: #eee;
}

/* Implement fluent design acrylic for the footer if supported by the browser */
@supports (backdrop-filter: blur(8px) brightness(125%) contrast(75%)) {
    footer {
        backdrop-filter: blur(8px) brightness(125%) contrast(75%);
        background-color: rgba(255, 255, 255, 0.4);
    }
}

/* Improve padding and spacing of the top navbar, also add a simple drop shadow */
.navbar {
    padding: 0.5rem;
    margin-bottom: 1rem;

    box-shadow: 0 0 0.75rem 1px rgba(0,0,0,0.4);
}

/* Make the buttons on the navbar aligned to the right if there's space */
.navbar nav div.group {
    float: right;
    vertical-align: middle;
    padding-top: 8px;
    margin-right: 0;
    margin-left: auto;
}

/* Fix offset login button */
form input[type="submit"] {
    margin-left: 0;
}

.spacer {
    visibility: hidden;
}


.cardsContainer {
    display: -ms-grid;
    display: grid;
    grid-gap: 2rem;
    gap: 2rem;

    margin-top: 1rem;
    overflow-wrap: break-word;

    -ms-grid-columns: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
}
.cardsContainer h1.categoryHeading {
    grid-column: span 2;
    margin: 0;
    padding: 0;
    margin-bottom: -0.75rem;

    text-shadow: 0 0 1rem white;
}


.card {
    background-color: rgba(255, 255, 255, 0.9);
    margin: 0;

    cursor: pointer;
}
.card.xl {
    grid-column: span 2;
    grid-row: span 3;
}
.card.l {
    grid-column: span 1;
    grid-row: span 2;
}

.card.xl.map {
    background: url('../img/map-placeholder.png') no-repeat;
    background-size: cover;
}

.card p {
    margin-top: 0.25rem;
}

/* Reduce the gap on viewport 3 and lower */
@media only screen and (max-width: 1083px) {
    .cardsContainer {
        grid-gap: 1rem;
        gap: 1rem;
    }
    .cardsContainer h1.categoryHeading {
        margin-bottom: -0.25rem;
    }
    .card.xl {
        grid-column: span 4;
    }
    .card {
        grid-column: span 2;
    }
}


/* Implement fluent design acrylic for the cards if supported by the browser
@supports (backdrop-filter: blur(8px) brightness(125%) contrast(75%)) {
    .card {
        backdrop-filter: blur(8px) brightness(125%) contrast(75%);
        background-color: rgba(255, 255, 255, 0.4);
    }
}
*/



form section h3 {
    margin-top: 1rem;
    margin-bottom: -0.5rem;
}